@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Ajusta estilos para notebooks/PCs */

.container-padre-grid {
    display: grid;
    grid-template-areas:
        "header"
        "sobre-nosotros-h1"
        "sobre-nosotros-img"
        "sobre-nosotros-p"
        "clientes"
        "footer";
}


/*--------------------------------------PARTE DEL MENU*/
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: black;
    flex-wrap: wrap;
}


header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

header #parte-izquierda-menu {
    padding-left: 1rem;
}

header #parte-derecha-menu {
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
}


/*-------------------------------------Sobre nosotros*/



#seccion-sobre-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#seccion-sobre-nosotros h1 {
    grid-area: sobre-nosotros-h1;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #e3e5c2;
    padding-left: 40px;
}

#seccion-sobre-nosotros #img-parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


#seccion-sobre-nosotros img {
    grid-area: sobre-nosotros-img;
    padding-bottom: 25px ;
}

#seccion-sobre-nosotros p {
    grid-area: sobre-nosotros-p;
    font-family: 'Roboto', sans-serif;
    padding: 0 40px 0 40px;

}


#clientes {
    grid-area: clientes;
    padding: 20px 40px 0 40px;
}

footer {
    grid-area: footer;
}


#imagen-empleados {
    width: 600px;
}

header .item-logo-menu img {
    width: 85px;
    height: auto;
}

header ul .item-izquierda img {
    width: 30px;
    height: auto;
}

header #parte-derecha-menu a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


/*-------------------------------------Cliente*/

#clientes {
    grid-area: clientes;
    padding: 40px;
    display: flex; /* Convierte esta sección en un contenedor flexible */
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    gap: 20px; /* Agrega espacio entre los elementos */
    font-family: 'Roboto Slab', serif;
}

#clientes #imagenes-clientes {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las filas */

}

#clientes #imagenes-clientes div {
    display: flex;
    justify-content: center; /* Centra horizontalmente las imágenes en cada fila */
    gap: 20px; /* Espacio entre las imágenes */
}


#igarreta {
    width: 200px;
    object-fit: contain;
}

#farmacity {
    width: 200px;
    object-fit: contain;
}

#trento {
    width: 50px;
    object-fit: contain;
}

#tom {
    width: 80px;
    object-fit: contain;
}

#mercedes {
    width: 250px;
    object-fit: contain;
}

#scania {
    width: 150px;
    object-fit: contain;
}

#emiva {
    width: 110px;
    object-fit: contain;
}

#serquim {
    width: 90px;
    object-fit: contain;
}

/*-------------------------------------Footer*/

footer {
    height: 90px;
    background-color: #545454;
    gap: 10px; /* Opcional para espacios entre áreas */
    padding: 10px; /* Para darle espacio interior */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#imagenes-footer {
    grid-area: imagenes;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Para centrar verticalmente las imágenes */
    flex-wrap: wrap;
}

footer p {
    grid-area: texto;
    text-align: center; /* Centra el texto dentro de su área */
    color: #b3cc3d;
}

footer #instagram{
    width: 50px;
}

footer #facebook{
    width: 32px;
}

footer #linkedin{
    width: 45px;
}


@media (max-width: 767px) {
    /* Ajusta estilos para celulares */
    *{
    }

    #clientes #imagenes-clientes div {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las imágenes */
    }
    
    

}

/* Para tablets (pantallas medianas, entre 768px y 1024px) */

/*@media (min-width: 768px) and (max-width: 1024px) {
    /* Ajusta estilos para tablets */
/*
} */