@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Grid padre-------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-areas: "menu menu menu menu"
        "logo-principal logo-principal primer-imagen primer-imagen"
        "logo-principal logo-principal primer-imagen primer-imagen"
        "primera-frase primera-frase primer-imagen primer-imagen"
        "primera-frase primera-frase primer-imagen primer-imagen"
        "proposito proposito proposito proposito"
        "hombres-altura-img hombres-altura-img hombres-altura-img hombres-altura-img"
        "servicios servicios servicios servicios"
        "edificios-img edificios-img edificios-img edificios-img"
        "clientes clientes clientes clientes"
        "clientes clientes clientes clientes"
        "segunda-frase segunda-frase segunda-frase segunda-frase"
        "contacto contacto contacto contacto"
        "contacto contacto contacto contacto"
        "footer footer footer footer";
}


/*Parte del menu de arriba:*/

/*Parte del menu--------------------------------------------------------------------------------------*/

header {
    background-color: black;
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

header .menu-izquierda {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 40px;
    padding-left: 0.8rem;
    flex-wrap: wrap;
}

header .menu-izquierda .item-logo-menu img {
    width: 80px;
}

header .item-izquierda a img {
    width: 30px;
}

header .item-izquierda a {
    transition: background-color 0.3s ease;
}

.item-izquierda a:hover {
    background-color: #555;
    /* Efecto hover */
    padding: 20px 10px 5px 10px;
}

header .menu-derecha {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    align-items: center;
    padding-right: 1rem;
    flex-wrap: wrap;
}


header .menu-derecha .item-derecha a {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.item-derecha a:hover {
    background-color: #555;
    /* Efecto hover */
    padding: 10px 15px;
}


/*Parte del main----------------------------------------------*/
main {
    background-color: #f5f5ef;
}

/*Primera parte de la página-----------------------------------------------------------------------------------*/
#inicio-logo {
    display: flex;
    justify-content: space-between;
}

#logo-principal {
    width: 800px;
    height: auto;
    margin-right: 10px;
    grid-area: logo-principal;
}

#primer-imagen {
    margin-top: 50px;
    height: 450px;
    border-radius: 10% 0 0 10%;
    /* Redondea las esquinas */
    grid-area: primer-imagen;
}


/*primera frase*/
main #primer-frase {
    font-family: 'Roboto Slab', serif;
    padding-left: 100px;
    margin-top: -160px;
    font-size: 30px;
    font-weight: bold;
    grid-area: primera-frase;
}

main #primer-frase #compromiso {
    color: #3c3c3b;
    display: inline;
}


/*proposito-----------------------------------------------------------------------------------------------*/

#proposito {
    display: flex;
    grid-area: proposito;
    align-items: center;
    justify-content: start;
    gap: 178px;
    margin: 100px 0 0 0;
    background-color: #e3e5c2;
    text-align: center;
}

#titulo-proposito {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 20px;

}

#parrafo-proposito {
    font-family: 'Roboto';
    font-size: 15px;

}

#imagen-proposito {
    width: 75px;
    height: auto;
}

/*imagen de hombres en la altura------------------------------------------------------------------------------------------*/
#hombres-altura-img {
    width: 100%;
    grid-area: hombres-altura-img;
}



/*parte de servicios---------------------------------------------------------------------------------------------------------*/

#servicios {
    padding: 20px;
    display: flex;
    grid-area: servicios;
}

#servicios .item-servicio {
    flex: 1;
    /* Distribuye uniformemente los elementos */
    margin: 10px;
    /* Agrega espacio entre los elementos */
    border: 1px solid #ccc;
    /* Borde opcional */
    padding: 20px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra para destacar */
    text-align: center;
    transition: transform 0.3s ease; /* Agregado: transición suave para el contenedor */
}

#servicios .item-servicio:hover {
    transform: scale(1.05); /* Agregado: agranda el contenedor */
}


#servicios .item-servicio img {
    width: 80px;
    height: auto;
}

#servicios>div {
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten si el espacio es limitado */
    justify-content: space-between;
    /* Espacio uniforme entre elementos */
}

.item-servicio ul {
    padding-left: 35px;
    text-align: start;
}

.item-servicio ul li {
    margin: 5px 0;
    /* Espaciado entre los elementos de la lista */
}


#servicios #seguridad {
    background-color: #545454;
}

#servicios #habilitaciones {
    background-color: #b3cc3d;
}

#servicios #medio-ambiente {
    background-color: #e3e5c2;
}

#edificios-img {
    width: 100%;
    grid-area: edificios-img;
}

/* Parte clientes -----------------------------------------------------------------------------------------*/

#nuestros-clientes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    background-color: #f5f5ef;
}

#nuestros-clientes img {
    width: 50px;
}

/*logos -----------------------*/

#logo-clientes #igarreta {
    width: 300px;
}

#logo-clientes #farmacity {
    width: 300px;
}

#logo-clientes #trento {
    width: 80px;
}

#logo-clientes #tom {
    width: 120px;
}


#logo-clientes #mercedes {
    width: 350px;
}

#logo-clientes #scania {
    width: 250px;
}

#logo-clientes #emiva {
    width: 150px;
}

#logo-clientes #serquim {
    width: 150px;
}

#logo-clientes {
    background-color: #e3e5c2;
    display: grid;
    /* Activar CSS Grid */
    grid-template-columns: repeat(2, 1fr);
    /* Crea 2 columnas iguales */
    padding: 20px;

}

#clientes-primer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clientes-segunda-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-clientes img {
    max-width: 50%;
    /* Asegura que las imágenes no excedan su contenedor */
    height: auto;
    /* Mantiene la proporción de las imágenes */
    justify-self: center;
    /* Centra las imágenes dentro de cada celda */
    margin: 10px;
}



/*segunda frase*/

main #segunda-frase {
    grid-area: segunda-frase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Alinea los elementos verticalmente */
    font-family: 'Roboto Slab', serif;
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #f5f5ef;
}

main #segunda-frase img {
    width: 95px;
    height: auto;
    flex-shrink: 0;
    /* Evita que la imagen se reduzca */
}


main #segunda-frase #un-proposito {
    color: #3c3c3b;
    display: inline;
}



/*CONTACTO------------------------------------------------------------------------------------------------*/

#contact {
    grid-area: contacto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 50px;
    height: 460px;

    background-image: url('/imagenes/contacto/tecladonegro2.jpg');
    background-size: cover;
    /* Ajusta la imagen al contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

#contact #contacto-parte-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact #contacto-parte-derecha img {
    width: 350px;
}

#contact #contacto-parte-derecha {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 50px;
}

#contact #contacto-parte-izquierda #message {
    width: 500px;
    height: 75px;
}

#contact h2 {
    color: #b3cc3d;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 25px;
}

#contact p {
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
}

/*FOOTER ----------------------------------------------------------------------------------------------------*/
footer {
    height: 90px;
    background-color: #545454;
    display: grid;
    grid-area: footer;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "imagenes imagenes imagenes"
        ". texto .";
    gap: 10px;
    /* Opcional para espacios entre áreas */
    padding: 10px;
    /* Para darle espacio interior */
}

#imagenes-footer {
    grid-area: imagenes;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Para centrar verticalmente las imágenes */
}


footer p {
    grid-area: texto;
    text-align: center;
    /* Centra el texto dentro de su área */
    color: #b3cc3d;
}

footer #instagram {
    width: 50px;
}

footer #facebook {
    width: 32px;
}

footer #linkedin {
    width: 45px;
}


/*-----------------------------------------------------MEDIA PARA PANTALLAS-------------------------------------------*/
@media (max-width: 767px) {

    .grid-container {
        grid-template-areas:
            "menu"
            "primer-imagen"
            "logo-principal"
            "primera-frase"
            "proposito"
            "hombres-altura-img"
            "servicios"
            "edificios-img"
            "clientes"
            "segunda-frase"
            "contacto"
            "footer";
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .menu-izquierda,
    .menu-derecha {
        flex-direction: column;
        gap: 10px;
    }

    /*------------------------------------------------------------------------------------------------primera parte para celular*/
    #inicio-logo {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    #logo-principal {
        height: auto;
        width: 200px;
    }

    #primer-imagen {
        height: auto;
        width: 200px;
    }

    main #primer-frase {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }

    /*------------------------------------------------------------------------------------------------servicios y clientes para celular*/
    #servicios {
        display: flex;
        flex-direction: column;
    }

    #logo-clientes {
        display: flex;
        flex-direction: column;
    }

    /*------------------------------------------------------------------------------------------------contacto para celular*/
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Asegura que los elementos estén centrados */
        text-align: center;
        /* Centra el texto */
    }

    #contact #contacto-parte-izquierda {
        width: 100%;
        /* Asegura que ocupe todo el ancho */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact #contacto-parte-izquierda #message {
        width: 90%;
        /* Ajusta el ancho para que no sea demasiado pequeño */
        max-width: 300px;
        height: 75px;
    }

    #contact #contacto-parte-derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        /* Centra la imagen horizontalmente */
        align-items: center;
        /* Asegura que esté alineado verticalmente */
        margin-top: 20px;
    }


    #contacto-parte-derecha img {
        width: 250px !important;
        max-width: 100%;
        height: auto;
    }

    /*------------------------------------------------------------------------------------------------footer para celular*/
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #imagenes-footer {
        display: flex;
        flex-direction: column;
    }

}

/* Para tablets (pantallas medianas, entre 768px y 1024px) --------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1024px) {
    /* Ajusta estilos para tablets */

}