@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

body{
    margin: 0;
}
/*Parte del menu de arriba:*/


#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Alineación vertical */
    list-style: none;
    /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    background-color: black;
    position: fixed;
    /* Fija el elemento */
    top: 0;
    /* Distancia desde la parte superior */
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho */
    z-index: 1000;
    /* Asegura que quede encima de otros elementos */

}


#parte-izquierda-menu,
#parte-derecha-menu {
    display: flex;
    /* Alinea los <li> horizontalmente */
    gap: 30px;
    /* Espaciado entre elementos */
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    margin: 0;
    list-style: none;
    /* Elimina los puntos de las listas */
}


#menu .item-logo-menu img {
    padding-top: 3px;
    width: 85px;
    height: auto;
    margin-right: 10px;
}

#menu .item-izquierda img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

#menu #parte-derecha-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}


/*Parte del main*/
main {
    background-color: #f5f5ef;
}

/*Primera parte de la página*/
#inicio-logo {
    display: flex;
    justify-content: space-between;
}

#logo-principal {
    width: 800px;
    height: auto;
    margin-right: 10px;
}

#primer-imagen {
    margin-top: 100px;
    height: 450px;
    border-radius: 10% 0 0 10%;
    /* Redondea las esquinas */
}


/*primera frase*/
main #primer-frase{
    font-family: 'Roboto Slab', serif;
    padding-left: 100px;
    font-size: 30px;
    margin-top: -160px;
    font-weight: bold;
}

main #primer-frase #compromiso {
        color: #3c3c3b;
        display: inline;
}


/*proposito*/

#proposito{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 178px;
    margin: 100px 0 0 0;
    background-color: #e3e5c2;
    text-align: center;
}

#titulo-proposito{
    font-family:'Roboto Slab' ;
    font-weight: bold;
    font-size: 20px;

}

#parrafo-proposito{
    font-family: 'Roboto';
    font-size: 15px;

}

#imagen-proposito{
    width: 75px;
    height: auto;
}

main img{
    width: 100%;
}

/*parte de servicios*/

#servicios {
    padding: 20px;
    display: flex;
}

#servicios .item-servicio {
    flex: 1; /* Distribuye uniformemente los elementos */
    margin: 10px; /* Agrega espacio entre los elementos */
    border: 1px solid #ccc; /* Borde opcional */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    text-align: center;
}


#servicios .item-servicio img{
    width: 80px;
    height: auto;
}

#servicios > div {
    flex-wrap: wrap; /* Permite que los elementos se ajusten si el espacio es limitado */
    justify-content: space-between; /* Espacio uniforme entre elementos */
}

.item-servicio ul {
    padding-left: 35px;
    text-align: start;
}

.item-servicio ul li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
}


#servicios #seguridad{
    background-color: #545454;
}

#servicios #habilitaciones{
    background-color: #b3cc3d;
}

#servicios #medio-ambiente{
    background-color: #e3e5c2;
}


/* Parte clientes */

#nuestros-clientes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family:'Roboto Slab' ;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    background-color: #f5f5ef;
}

#nuestros-clientes img{
    width: 50px;
}
/*logos -----------------------*/

#logo-clientes #igarreta{
    width: 300px;
}
#logo-clientes #farmacity{
    width: 300px;
}

#logo-clientes #trento{
    width: 80px;
}

#logo-clientes #tom{
    width: 120px;
}


#logo-clientes #mercedes{
    width: 350px;
}

#logo-clientes #scania{
    width: 250px;
}

#logo-clientes #emiva{
    width: 150px;
}
#logo-clientes #serquim{
    width: 150px;
}

#logo-clientes {
    background-color: #e3e5c2;
    display: grid; /* Activar CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas iguales */
    padding: 20px;

  }

  #clientes-primer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #clientes-segunda-col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #logo-clientes img {
    max-width: 50%; /* Asegura que las imágenes no excedan su contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    justify-self: center; /* Centra las imágenes dentro de cada celda */
    margin: 10px;
  }
  


  /*segunda frase*/

  main #segunda-frase {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* Alinea los elementos verticalmente */
    font-family: 'Roboto Slab', serif;
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #f5f5ef;
}

main #segunda-frase img {
    width: 95px;
    height: auto;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}


main #segunda-frase #un-proposito {
        color: #3c3c3b;
        display: inline;
}



/*formulario*/

#contact{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 padding-left: 50px;
 background-color: black;
}

#contact #contacto-parte-izquierda{
    display: flex;
    flex-direction: column;

}

#contact #contacto-parte-derecha img{
    width: 350px;
}

#contact #contacto-parte-derecha{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 50px;
}

#contact #contacto-parte-izquierda #message{
    width: 500px;
    height: 75px;
}

#contact h2{
    color: #b3cc3d;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 25px;
}

#contact p {
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
}

/*footer:*/
footer {
    height: 90px;
    background-color: #545454;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "imagenes imagenes imagenes"
        ". texto .";
    gap: 10px; /* Opcional para espacios entre áreas */
    padding: 10px; /* Para darle espacio interior */
}

#imagenes-footer {
    grid-area: imagenes;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Para centrar verticalmente las imágenes */
}

footer p {
    grid-area: texto;
    text-align: center; /* Centra el texto dentro de su área */
    color: #b3cc3d;
}

footer #instagram{
    width: 50px;
}

footer #facebook{
    width: 32px;
}

footer #linkedin{
    width: 45px;
}